body {
    margin-bottom: 0px 0px 0px 0px;
    margin: 0;
    padding: 0;
    font-family: monospace;
    background-color: rgb(36, 60, 70);
}

.header {
    margin: 0px;
    border-bottom: 3px solid rgb(0, 0, 0);
    height: 100px;
    display: flex;
    align-items: center;
    background-color: rgb(25, 56, 70);


}

.header img {
    padding: 0px;
    margin: 0px;
    width: 90px;
    display: flex;
    align-items: start;
    flex-direction: column;


}

.container {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-around;
    color: #fff;

}

.container_blog {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
    color: #fff;
}

.titulo {
    margin: 0px;
    display: flex;
    align-items: center;
    font-size: 65px;
    flex-direction: column;
    color: white;
    font-family: Pesca;
}

.navbar {
    font-size: 25px;
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 300px;
    height: 100px;
    justify-content: space-between;
    color: #ffffff;
    align-items: center;
    margin-bottom: auto;
    margin-top: auto;
    background-color: rgb(25, 56, 70);
    font-family: Pesca;

}


.header .container {
    justify-content: space-between;
    align-items: center;
    background-color: rgb(25, 56, 70);

}

.banner {
    padding: 30px 80px 10px 10px;
    color: #ffffff;
    height: 650px;
    background-image: url(Imagens/Design\ sem\ nome\ \(1\).png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.551);
    text-align: center;
    display: flex;
    justify-content: center;

}


.social {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(36, 60, 70);
    padding: 40px 30px;
}

.card_descricao {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 30 0px;
    border-radius: 4px;
    margin-top: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.403);
    color: rgb(0, 0, 0);
    font-size: 15px;



}

.card_escrita {
    padding: 2%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 500px;
    height: 330px;
    border-radius: 4px;
    margin-top: 15px;
    color: white;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}




.card_img {
    background-color: white;
    display: flex;
    height: 400px;
    width: 400px;
    border-radius: 10px;
    margin-top: 38px;
    background-image: url(Imagens/download.png);
    background-size: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.403);
}

.card_institucional {
    width: 150px;
    text-align: center;
    font-family: 'Pesca';

}



.card h4 {
    font-size: 24px;
}

.footer {
    margin-top: 30px;
    height: auto;
    background-color: rgb(25, 56, 70);
    border-radius: 2px solid black;

}

.footer .container {
    justify-content: start;
    align-items: center;
    height: 120px;
    color: #fff;
    justify-content: space-around;
    font-size: 15px;

}

.login {
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
    align-items: center;

}

.login .container {
    justify-content: center;
    background-size: cover;
    height: 75vh;
    align-items: center;
    margin: 30px;

}

.banner_login_cadastro {
    background-image: url(Imagens/LoginECadastro.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 89.4vh;
}

.banner_login_cadastro h3 {
    font-size: 15px;
    font-family: monospace;
    margin: 5px;
}

.banner_login_cadastro a {
    text-decoration: none;
    color: black;
    font-size: bold;
}

.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    border: 3px solid;

}

.card h2 {
    color: palevioletred
}

.campo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.campo input {
    width: 200px;
    padding: 7px 15px;
    border: 2px solid rgb(25, 56, 70);

}

.formulario {
    margin: 0px;
    padding: 40px 20px 00px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.header a {
    text-decoration: none;
    color: rgb(253, 253, 253);
    cursor: alias;
}


.caixa_formulario_cadastro {
    background-color: rgba(32, 68, 84, 0.5);
    width: 400px;
    height: 390px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0px 0px 20px solid black;
}
.caixa_formulario_cadastro h3{
    color: white;
}
.caixa_formulario_cadastro a {
    color: white;

}
.caixa_formulario_login {
    background-color: rgba(32, 68, 84, 0.5);
    width: 400px;
    height: 280px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.caixa_formulario h1 {
    font-size: 30px;
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
}

button {
    margin-top: 10px;
    background: #144a63;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    width: 180px;
    align-self: center;
    cursor: pointer;
    margin: 10px;
}

input {
    padding: 10px 15px;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    width: 200px;
    padding: 7px 15px;
}

span {
    font-size: 15px;
}

.agora {
    font-size: 30px;
    font-style: bold;
    text-shadow: 0px 0px 5px black;
}

.pesquisa_blog {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    width: 100%;
    font-size: 25px;
    font-family: Pesca;
}

a {
    text-decoration: none;
    color: white;
}

.pesquisa_blog li {
    display: inline;
    justify-content: space-between;
}

.subtitulo {
    margin: 20px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 35px;
    flex-direction: column;
    color: white;
    text-shadow: 0px 0px 0px 0px black;
    font-family: Pesca;
}
.subtitulo2{
    margin: 20px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    flex-direction: column;
    color: white;
    text-shadow: 0px 0px 0px 0px black;
    font-family:Pesca ;
}


.social_blog {
    background-color: rgb(36, 60, 70);
    padding: 40px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}

.card_escrita:hover{
    transform: scale(102%);
    filter: drop-shadow(0px 0px 5px rgb(0, 0, 0));
    cursor:grab
}
.card_descricao:hover{
    transform: scale(102%);
    filter: drop-shadow(0px 0px 5px rgb(0, 0, 0));
    cursor:grab

}

@font-face {
    font-family:'Pesca';
    src: url('Pieces\ of\ Eight.ttf');
}
.trititulo{
    font-size: 35px;
    display: flex;
    justify-content:space-around ;
    color: white;
    font-family: Pesca;
    
}
.flip-card {
    background-color: transparent;
    width: 400px;
    height: 360px;
    perspective: 1000px; 
    
    
  }
  
  .flip-card-pratica{
    position: relative;
    width: 400px;
    height: 360px;
    border-radius: 3%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    background-image: url(Imagens/pratica-1024x683.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .flip-card-atencao {
    position: relative;
    width: 400px;
    height: 360px;
    border-radius: 3%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    background-image: url(Imagens/jovem-pescador-pescando-no-lago-ou-rio-vista-traseira-do-cara-concentrado-esperando-para-pegar-alg.avif);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .flip-card-comunicacao {
    position: fixed;
    width: 400px;
    height: 360px;
    border-radius: 3%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    background-image: url(Imagens/Comunicacao_329181-20049.avif);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .flip-card-Hora {
    position: fixed;
    width: 400px;
    height: 360px;
    border-radius: 3%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    background-image: url(Imagens/sielencio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .flip-card-aves {
    position: fixed;
    width: 400px;
    height: 360px;
    border-radius: 3%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    background-image: url(Imagens/aves.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.flip-card-ilhas {
    position: fixed;
    width: 400px;
    height: 360px;
    border-radius: 3%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    background-image: url(Imagens/pedras.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.flip-card-capim {
    position: fixed;
    width: 400px;
    height: 360px;
    border-radius: 3%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    background-image: url(Imagens/capim.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.flip-card-canais {
    position: fixed;
    width: 400px;
    height: 360px;
    border-radius: 3%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    background-image: url(Imagens/canais.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.flip-card-leve {
    position: fixed;
    width: 400px;
    height: 360px;
    border-radius: 3%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    background-image: url(Imagens/varaleve.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.flip-card-media {
    position: fixed;
    width: 400px;
    height: 360px;
    border-radius: 3%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    background-image: url(Imagens/varamedia.webp);
    background-size: cover;
    background-repeat: no-repeat;
}
.flip-card-pesada {
    position: fixed;
    width: 400px;
    height: 360px;
    border-radius: 3%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    background-image: url(Imagens/varapesada.webp);
    background-size: cover;
    background-repeat: no-repeat;
}
.flip-card-musky {
    position: fixed;
    width: 400px;
    height: 360px;
    border-radius: 3%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    background-image: url(Imagens/varamusky.webp);
    background-size: cover;
    background-repeat: no-repeat;
}
  .flip-card:hover .flip-card-pratica {
    transform: rotateY(180deg);
  }
  .flip-card:hover .flip-card-atencao {
    transform: rotateY(180deg);
  }

  .flip-card:hover .flip-card-comunicacao {
    transform: rotateY(180deg);
  }

  .flip-card:hover .flip-card-Hora {
    transform: rotateY(180deg);
  }

  .flip-card:hover .flip-card-aves {
    transform: rotateY(180deg);
  }
  .flip-card:hover .flip-card-ilhas {
    transform: rotateY(180deg);
  }
  .flip-card:hover .flip-card-capim {
    transform: rotateY(180deg);
  }
  .flip-card:hover .flip-card-canais {
    transform: rotateY(180deg);
  }
  .flip-card:hover .flip-card-leve {
    transform: rotateY(180deg);
  }
  .flip-card:hover .flip-card-media {
    transform: rotateY(180deg);
  }
  .flip-card:hover .flip-card-pesada {
    transform: rotateY(180deg);
  }
  .flip-card:hover .flip-card-musky {
    transform: rotateY(180deg);
  }
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility:visible; 
    backface-visibility: hidden;
    border-radius: 3%;
    font-size: 15px;
  }
  



  .flip-card-back {
    transform: rotateY(180deg);
    background-color: White;
    font-size: 17px;
    
  }