body {
    margin-bottom: 0px 0px 0px 0px;
    margin: 0;
    padding: 0;
    font-family: monospace;
    background-color: rgb(36, 60, 70);
}

.header {
    margin: 0px;
    border-bottom: 3px solid rgb(0, 0, 0);
    height: 100px;
    display: flex;
    align-items: center;
    background-color: rgb(25, 56, 70);


}

.header img {
    padding: 0px;
    margin: 0px;
    width: 90px;
    display: flex;
    align-items: start;
    flex-direction: column;


}

.container {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-around;
    color: #fff;

}

.container_blog {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
    color: #fff;
}

.titulo {
    margin: 0px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 40px;
    flex-direction: column;
    color: white;
}

.navbar {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 300px;
    height: 100px;
    justify-content: space-between;
    color: #ffffff;
    align-items: center;
    margin-bottom: auto;
    margin-top: auto;
    background-color: rgb(25, 56, 70);

}


.header .container {
    justify-content: space-between;
    align-items: center;
    background-color: rgb(25, 56, 70);

}

.banner {
    padding: 30px 80px 10px 10px;
    color: #ffffff;
    height: 650px;
    background-image: url(Imagens/Design\ sem\ nome\ \(1\).png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.551);
    text-align: center;
    display: flex;
    justify-content: center;

}


.social {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(36, 60, 70);
    padding: 40px 30px;
}

.card_descricao {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 30 0px;
    border-radius: 4px;
    margin-top: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.403);
    color: rgb(0, 0, 0);
    font-size: 15px;



}

.card_escrita {
    text-align: center;
    background-color: rgb(255, 255, 255);
    display: flex;
    width: 400px;
    right: fit-content;
    height: 33 0px;
    border-radius: 4px;
    margin-top: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.403);
    color: rgb(0, 0, 0);
    font-size: 15px;

}

.card_img {
    background-color: white;
    display: flex;
    height: 400px;
    width: 400px;
    border-radius: 10px;
    margin-top: 15px;
    background-image: url(Imagens/download.png);
    background-size: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.403);
}

.card_institucional {
    width: 150px;
    text-align: center;

}



.card h4 {
    font-size: 24px;
}

.footer {
    height: auto;
    background-color: rgb(25, 56, 70);
    border-radius: 2px solid black;

}

.footer .container {
    justify-content: start;
    align-items: center;
    height: 120px;
    color: #fff;
    justify-content: space-around;
    font-size: 15px;

}

.login {
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
    align-items: center;

}

.login .container {
    justify-content: center;
    background-size: cover;
    height: 75vh;
    align-items: center;
    margin: 30px;

}

.banner_login_cadastro {
    background-image: url(Imagens/LoginECadastro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.banner_login_cadastro h3 {
    font-size: 15px;
    font-family: monospace;
    margin: 5px;
}

.banner_login_cadastro a {
    text-decoration: none;
    color: black;
    font-size: bold;
}

.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    border: 3px solid;

}

.card h2 {
    color: palevioletred
}

.campo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.campo input {
    width: 200px;
    padding: 7px 15px;
    border: 2px solid rgb(25, 56, 70);

}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
    color: black;
}

.header a {
    text-decoration: none;
    color: rgb(253, 253, 253);
    cursor: alias;
}


.caixa_formulario_cadastro {
    background-color: rgba(255, 252, 252, 0.5);
    width: 400px;
    height: 390px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0px 0px 20px solid black;
}

.caixa_formulario_login {
    background: rgba(255, 252, 252, 0.5);
    width: 400px;
    height: 280px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.caixa_formulario h1 {
    font-size: 30px;
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
}

button {
    margin-top: 10px;
    background: #144a63;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    width: 120px;
    align-self: center;
    cursor: pointer;
    margin: 10px;
}

input {
    padding: 10px 15px;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    width: 200px;
    padding: 7px 15px;
}

span {
    font-size: 15px;
}

.agora {
    font-size: 20px;
    font-style: bold;
    text-shadow: 0px 0px 5px black;
}

.pesquisa_blog {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    width: 100%;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: white;
}

.pesquisa_blog li {
    display: inline;
    justify-content: space-between;
}

.subtitulo {
    margin: 20px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 35px;
    flex-direction: column;
    color: white;
    text-shadow: 0px 0px 0px 0px black;
}
.subtitulo2{
    margin: 20px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    flex-direction: column;
    color: white;
    text-shadow: 0px 0px 0px 0px black;
}

.card_blog_pratica {
    background-color: white;
    display: flex;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    margin-top: 15px;
    background-image: url(Imagens/pratica-1024x683.jpg);
    background-size: cover;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.403);

}

.card_blog_comunicacao {
    background-color: white;
    display: flex;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    margin-top: 15px;
    background-image: url(Imagens/Comunicacao_329181-20049.avif);
    background-position: center;
    background-size: cover;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.403);
}

.card_blog_atencao {
    background-color: white;
    display: flex;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    margin-top: 15px;
    background-image: url(Imagens/jovem-pescador-pescando-no-lago-ou-rio-vista-traseira-do-cara-concentrado-esperando-para-pegar-alguns-peixes-homem-segurando-a-vara-de-pescar.avif);
    background-position: center;
    background-size: cover;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.403);

}
.card_blog_hora{
    background-color: white;
    display: flex;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    margin-top: 15px;
    background-image: url(Imagens/sielencio.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.403);
}
.social_blog {
    background-color: rgb(36, 60, 70);
    padding: 40px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}